h1 {
    width:580px; 
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:24px;
    text-align:center;
    margin:40px auto;
 }
#container1 {
    width:100%; 
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:18px;
    text-align:center;
    margin:auto;
    line-height: 10px;

    
    

 }  
#container1 a {
    display:block;
    color:#000;
    text-decoration:none;
    background-color:#f6f6ff;
    
   


 }

 #currentstatus{}
 
 #no1 {
    width:100%;
    border:1px solid #000;
    margin:auto; 
    height:60px;
 }

 #no1-1 {
  position: relative;
  line-height:15px;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
 
#line1 {
    font-size:0;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin:auto;
    margin-left:50%;
 } 
 #line2 {
    font-size:0;
    width:0px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin:auto;
    margin-left:50%;
 } 
#no2 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
	height:60px;
 }

#no3 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
    height:60px;
 }

#no4 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no5 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no6 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }
   
#no7 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no8 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no9 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no10 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no11 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no12 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no13 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no14 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no15 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no16 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no17 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no18 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no19 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no20 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no21 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no22 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no23 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no24 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no25 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no26 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no27 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

#no28 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }
#no29 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }
#no30 {
    width:100%;
    line-height:60px;
    border:1px solid #000;
    margin:auto;
 	height:60px;
    }

          
    
    
.clear {
    clear:both;
 }             
 @media (min-width: 500px){
	.modal-xl{
		width: 90%;
		max-width:2000px;
		}
		}

